/*################# DEFAULT STYLES #####################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*############## DEFAULT STYLES [Body] #################*/

body {
    background-image: url("IMG_7730.jpg");
    font: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    color: bisque;
}

/*################### SECTION / BODY ###################*/
/*
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    background: url(lelapalodge-060408.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
} 

div.box1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    background: url(lelapalodge-060408.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
} */

/*################## BODY TEXT STYLES ##################*/

h1 {
    text-align: center;
    font-size: 34px;
    color: rgb(255, 255, 255);
    font-family: 'Bungee Spice';
}

h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(230, 221, 221);
    font-family: serif;
}

div.container p {
    font-size: 16px;
    color: #1d1c1c;
    text-align: center;
}

div.container2 p {
    font-size: 18px;
    color: bisque;
    text-align: center;
}

div.container4 p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

div.container2 h1 {
    font-size: 60px;
    font-weight: large;
    padding: 30px 25px;
    color: #fff;
    text-align: center;
    border: 5px solid #fff;
    background: transparent;
}

div.container5 h1 {
    font-size: 60px;
    font-weight: large;
    padding: 30px 25px;
    color: #fff;
    text-align: center;
    border: 5px solid #fff;
    background: transparent;
    backdrop-filter: blur(50%);
}

div.container2 h2 {
    font-size: 30px;
    font-weight: lighter;
    color: #c41f1f;
    text-align: center;
}

div.container4 h2 {
    font-size: 75px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
}

div.container4 h3 {
    font-size: 40px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
}



/*
label {
    font-size: 18px ;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    float: left;
}
*/
.container {
    background: bisque;
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
}
.container3 {
    background: bisque;
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container3 p {
    width: 100%;
    color: rgb(78, 48, 12);
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container3 h2 {
    width: 100%;
    color: rgb(78, 48, 12);
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container3 h3 {
    width: 100%;
    color: rgb(78, 48, 12);
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container3 h1 {
    font-size: 28px;
    width: 100%;
    color: rgb(78, 48, 12);
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container4 {
    background: rgb(95, 55, 2);
    width: 100%;
    
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    background: url(Wilderness7.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
}

.containerheading {
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    text-align: left;
}

h1.section2header {
    font-size: 15px;
    text-align: center;
    color: #b89024;
}

/*############# PLACE YOUR STYLES BELOW ################*/

button {
    font-size: 18px;
    font-weight: 600;
    background: #793d05;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}


div.button2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #793d05;
    border-color: #fff;
    padding: 10px 80px;
    border-radius: 10px;
    width: 30px;
}




/*############# PLACE YOUR STYLES ABOVE ###############*/


/*############### DEFAULTS STYLES #####################*/

nav,
header,
footer {
    display: block;
    position: sticky;
}

nav,
header {
    display: block;
    position: sticky;
    top: 0;
}

body {
    line-height: 1;
    margin: 0;
}

/*
.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
*/

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

/*################### COLUMN GRID SYSTEM ###############*/

.co-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*############# DEFAULT NAV BAR STYLES #################*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav-left li {
    list-style: none;
    float: right;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;   
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 18px;
    text-transform: uppercase;
    color: rgb(236, 228, 217);
}


ul.topnav li a img {
    display: block;
    text-decoration: none;
    width: 100%;
    min-height: 16px;
    float: left;
    text-align: center;
    margin: 0%;
    text-transform: uppercase;
    overflow: hidden;
}


ul.topnav li a img:hover {
    background-color: white;
    color: #fff;
}

ul.topnav li a:hover {
    background-color: #793d05;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}

/*################ MOBILE MEDIA QUERY ###################*/

/*------------------ SMALL SCREEN -----------------------*/

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    ul.topnav li a img {
        width: 100%;
        display: block;
        text-align: left;
    }
    
    .col-3,
    .col-4,
    .col-6,
    .col-12 {
        width: 100%;
        margin: 0%; 
    }
    div.leftSide-col,
    div.rightSide-col {
        margin: 15px;
    }

    div.box1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
    }
    
    footer.footsy ul li {
        width: 50%;
    }
}

/*################ MOBILE MEDIA QUERY ###################*/

/*------------------ MEDIUM SCREEN ----------------------*/

@media screen and (min-width: 768px) {
    div.box1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
    } 
}

/*################ MOBILE MEDIA QUERY ###################*/

/*------------------ LARGE SCREEN ----------------------*/

@media screen and (min-width: 992px) {
    div.box1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
    } 
}

/*################ MOBILE MEDIA QUERY ###################*/

/*------------------- XL SCREEN ------------------------*/

@media screen and (min-width: 1200px) {
    div.box1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
    }  
}

/*################ MOBILE MEDIA QUERY ###################*/

/*----------------- LANDSCAPE SCREEN --------------------*/

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    div.box1 img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; 
        background: url(lelapalodge-060408.jpg) no-repeat; 
        background-position: center;
        background-size: cover;
    } 
}


/*########### My Custom Div Style ############*/

* {
    box-sizing: border-box;
}   

.box:hover{
    transform: scale(1.06);
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25);   
}

.box2:hover{
    transform: scale(1.06);
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25);   
}

.box3:hover{
    transform: scale(1.06);
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25);   
}

.box {
    padding: 26px 24px 20px 24px;
    text-align: center;
}

div.box {
    text-align: center;
    margin: 24px;
    padding: 24px 24px 24px 24px;
    border-radius: 7px;
    background-color: rgb(221, 124, 6)#ffffff; 
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25); 
}

div.box2 {
    text-align: center;
    margin: 24px;
    padding: 1px 1px 1px 1px;
    border-radius: 7px;
    background-color: dodgerblue;
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25);
}

div.box3 {
    text-align: center;
    margin: 15px;
    padding: 1px 1px 1px 1px;
    border-radius: 7px;
    background-color: dodgerblue;
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.25);
}

div.icon{
    width: 100%;
}

div.disclaimer p {
    text-align: center;
    color: bisque;
    font-size: 22px;
}

/*################# ICON STYLES ################*/

.social-icon ul {
    position: absolute;
    top: 39%;
    left: 43%;
    transform: translate(-50%,-50%);
    display: flex;
}

.social-icon ul li {
    list-style: none;
    margin: 0 15px;
    font-size: 8px;
}


/*################ DEFAULT FOOTER STYES ################*/

footer.footsy {
    background: rgb(95, 55, 2);
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    height: 2%;
}

footer.footsy h1 {
    color: #fff;
    text-align: left;
    font-size: 30px;
    bottom: 0%;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0%;
}

footer.footsy ul li {
    color: #fff;
    font-size: 18px;
}

footer.footsy ul p {
    color: #fff;
    font-size: 12px;
}



/*Branches drop*/
nav .nav-bar .dropdown {
	position: relative;
}
nav .nav-bar .dropdown:after {
	content: "";
	position: absolute;
	right: 0;
	top: 5px;
	width: 7px;
	height: 7px;
	cursor: pointer;
	transform: rotate(-45deg);
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover:after{
	transform: rotate(135deg);
}
nav .nav-bar .dropdown .project {
	position: absolute;
	transform: translateX(-20px) translateY(5px);
	width: 110px;
	background-color: #e53f30;
	padding: 20px;
	border-radius: 10px;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
	transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project{
	height: 220px;
	
	visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item {
	list-style-type: none;
	margin-bottom: 10px;
}
/* FAQ  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.containerFAQ{
  background-image: url("IMG_7730.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.container h1{
  
  text-align: center;
}

details{
 background-color: #0c0b0b;
 opacity: 0.7;
  color: #fcfcfc;
  font-size: 1.5rem;
}

summary {
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
}

/*Branches style*/
/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */

a {
 
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  background-size: cover;
  padding: 4rem 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
}

/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.breweries > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.breweries > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.breweries > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}


/*######################## THE END #####################*/



